{% extends 'movies/base.html' %}
{% block title %}{{ movie }}{% endblock %}
{% block movies_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid movies-container">
        <div class="panel panel-default">
            <div class="panel-body">

                <img id="myImg" src="{{ movie.movie_logo.url }}" >
                <h1>{{ movie.movie_title }}</h1>
                <h2><a>{{ movie.genre }}</a></h2>
                <p class="price">${{ movie.price }}</p>
                {{ total_likes }} Like{{ total_likes|pluralize }}<br>
                {{ total_dislikes }} Dislike{{ total_dislikes|pluralize }}<br>

                <form action="{% url 'movies:like_movie' %}" method="post">
                    {% csrf_token %}
                    {% if is_liked %}
                        <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn btn-danger">Remove Like</button>
                    {% else %}
                        <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn btn-primary">Like</button>
                    {% endif %}
                </form>
                <form action="{% url 'movies:dislike_movie' %}" method="post">
                    {% csrf_token %}
                    {% if is_disliked %}
                        <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn btn-danger" >Remove Dislike</button>
                    {% else %}
                        <button type="submit" name="movie_id" value="{{ movie.id }}" class="btn btn-danger">Dislike</button>
                    {% endif %}

                </form>
                </form>
                <br>{{ movie.description }}

            {% if cart %}
                <form action="{% url 'cart:cart_detail' %}" method="post">
                {{cart_movie_form}}
                    {% csrf_token %}
                    <label>Movie already in cart</label>
                    <input type="submit" value="View cart">
                </form>
            {% else %}
                <form action="{% url 'cart:cart_add' movie.id %}" method="post">
        	        {{cart_movie_form}}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}