{% extends 'movies/base.html' %}
{% block body %}
<div class="row wrapper">
    <div class="col s12 m2 pushpin side">
        
        {% comment %} <h3>Genres</h3> {% endcomment %}
        <ul class="">
            <li {% if not genre %}class="selected" {% endif %}>
                <a href="{% url "movies:index" %}">All</a>
            </li>
            {% for c in genres %}
            <a href="{{ c.name }}">{{ c.name }}</a>
            <li {% if genre.slug == c.slug %}class="selected" {% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c }}</a>
            </li>
            {% endfor %}
        </ul>
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn red' href='#' data-target='dropdown1'>Sort</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li> <a href="{% url 'movies:sort_name_asc'  %}"><i class="material-icons">keyboard_arrow_up</i>Name</a></li>
            <li><a href="{% url 'movies:sort_name_dsc'  %}"><i class="material-icons">keyboard_arrow_down</i>Name</a></li>
            
            <li> <a href="{% url 'movies:sort_price_asc'  %}"><i class="material-icons">keyboard_arrow_up</i>Price</a></li>
            <li><a href="{% url 'movies:sort_price_dsc'  %}"><i class="material-icons">keyboard_arrow_down</i>Price</a></li>
            
            <li> <a href="{% url 'movies:sort_date_asc'  %}"><i class="material-icons">keyboard_arrow_up</i>Date</a></li>
            <li><a href="{% url 'movies:sort_date_dsc'  %}"><i class="material-icons">keyboard_arrow_down</i>Date</a></li>
        </ul>
        
    </div>
    <div class="col s12 m10 offset-m2">
        <div class="main">
            {% comment %} <h2>Movies </h2> {% endcomment %}
            {% if movies %}
            <div class="row">
                {% for movie in movies %}
                <div class="col s12 m7 l6">
                    <div class="card large">
                        <div class="card-image">
                            {% comment %} <a href="{% url 'movies:detail' movie.id %}"><img class="index-img" src="{{ movie.movie_logo.url }}" > </a> {% endcomment %}
                            <a href="{% url 'movies:detail' movie.id %}"><img class="index-img" src="https://placeimg.com/640/480/any?cache={{ movie.id }}" > </a>

                        </div>
                        
                        <div class="card-content">
                            <span class="card-title truncate">{{ movie.movie_title }} <span class="badge new red" data-badge-caption="£{{ movie.price }}"></span></span>
                            <p class="truncate">{{ movie.description }}</p>
                            <p class="truncate">{{ movie.genre }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'movies:detail' movie.id %}">Go to Movie</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div>
                <br>
                <a href="{% url 'movies:create_movie' %}">
                    <button type="button" class="btn red waves-effect waves-light">
                        <span></span>&nbsp; Add a Movie
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if movies.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ movies.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
        </span>

        {% if movies.has_next %}
            <a href="?page={{ movies.next_page_number }}">next</a>
            <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {});
    });
    
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.pushpin');
        var instances = M.Pushpin.init(elems, {offset: 100});
    });
</script>
{% endblock %}