.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.brand-logo img {
    height: 40px;
    margin: 12px;
}

.movielogos {
    width: 40px;
    height: 30px;
}

#myImg {
    margin: 20px;
    border: 20px;
    width: 420px;
    height: 350px;

}

#index-img {
    width: 360px;
    height: 260px;
    margin: 20px;
}
.main {
  /* margin-left: 160px; Same as the width of the sidenav */
  /* font-size: 28px; Increased text to enable scrolling */
  /* padding: 0px 10px; */
}

.card-image{
  /* height: 300px; */
  /* object-fit: contain; */
}

