{% extends 'movies/base.html' %}

{% block body %}
  <h2>Login</h2>
  <form class="site-form" action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
      {% if request.GET.next %}
           <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
      {% endif %}
    <input type="submit" value="Login"> </input>
  </form>


{% endblock %}