{% extends "movies/base.html" %}

{% block body %}
    <h3>Profile Details</h3>
<p>{{ user.first_name }} {{ user.last_name }}</p>
    <p>{{ user.profile.address }}</p>
    <p>{{ user.profile.city }},</p>
    <p>{{ user.profile.postcode }} </p>
    <p>{{ user.profile.date_birth }}</p>
     <p>{{ user.profile.preferred_genre }}</p>
<form action="{% url 'users:change_password'%}"><br>

    <input type="submit" value="Change Password" />

</form>
<h3>Order History</h3>
{% for i in user_order %}
    {% if i.user == user %}
        {%  for i in movie_order|slice:":1" %}
                {{ i.movie}}
        {% endfor %}
    {% endif %}

    {% endfor %}



{% endblock %}